#app
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img
    {
        width: 50px;
    }
}

#stage
{
    cursor: none;

    #guide path
    {
        fill: none;
        stroke: red;
        stroke-width: 1px;
        display: none;
    }
    
    #translated path
    {
       // fill: rgba($color: blue, $alpha: 0.2);
        //stroke: #333;
        //stroke-width: 2px;
    }
}